

header {
    width: 100%;
    height: 100px;
    background-color: bisque;
    @include center();
    nav{
        width: 70%;
        ul{
            width: 100%;
    @include center();
         
            li{
                a{
                    color: $mycolor;
                }
            }
        }
    }
}