.con{
        display: grid;
        /* grid: auto / auto auto auto auto; */
        grid-template-columns: auto auto ;
        grid-template-rows:  auto;
        /* grid: rows / columns */
        row-gap: 10px;
        column-gap: 100px;
        grid-auto-flow: row;
}
.con .box{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
}


.a{
    grid-area: 3/1/ span 5/ span 2 ;
    background-color: red !important;
}


header{
    display: grid;
    grid-template-columns:30% auto;
    background-color: bisque;
}

header nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

