.card{
    width: 333px !important;
}

.styles-module_carousel-arrow__26sRw{
    position: relative;
    top: 200px;
    width: 50px !important;
    height: 20px !important;
    background-color: black;
}